
:root {
  /* colors*/
  --blue-green-color-wheel_60: hsla(165, 77%, 17%, 0.6);
  --blue-green-color-wheel_10: hsla(165, 77%, 17%, 0.1);
  --blue-green-color-wheel: hsl(165, 77%, 17%);
  --black-chocolate: hsl(32, 24%, 14%);
  --spanish-gray: hsl(210, 3%, 62%);
  --orange-web: hsl(38, 100%, 50%);
  --davys-gray: hsl(213, 5%, 34%);
  --light-gray: hsl(0, 0%, 80%);
  --msu-green: hsl(165, 77%, 15%);
  --cultured: hsl(30, 22%, 96%);
  --white_15: hsl(0, 0%, 100%, 0.15);
  --white: hsl(0, 0%, 100%);
  --onyx: hsl(210, 10%, 23%);
  --black:#000000;
  --black_2:#212121;
  
  /*typography*/
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-playfair: 'Playfair Display', serif;

  --fs-1: 3.6rem;
  --fs-2: 2.4rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /*spacing*/
  --section-padding: 60px;

  /*shadow*/

  --shadow-1: 0 2px 30px hsla(0, 0%, 0%, 0.1);
  --shadow-2: 2px 4px 8px hsla(215, 20%, 16%, 0.15);

  /*border radius*/

  --radius-2: 2px;
  --radius-10: 10px;
  --radius-50: 50px;

  /*transition*/

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
button,
ion-icon { display: block; }

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-montserrat);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--davys-gray);
  font-size: 1.6rem;
  line-height: 1.75;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }


.container { padding-inline: 15px; }

.btn {
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: 8px 20px;
  border-radius: var(--radius-50);
  transition: var(--transition-1);
}

.btn-primary,
.btn-secondary:is(:hover, :focus) { background-color: var(--blue-green-color-wheel); }

.btn-secondary,
.btn-primary:is(:hover, :focus) { background-color: var(--orange-web); }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3 {
  color: var(--black-chocolate);
  font-family: var(--ff-playfair);
  line-height: 1.1;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-4); }

.grid-list {
  display: grid;
  gap: 50px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  color: var(--color, var(--blue-green-color-wheel));
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}

.section-title { text-align: center; }

.section-text { font-size: var(--fs-5); }

.title-wrapper {
  position: relative;
  padding-block: 40px;
  margin-block-end: 50px;
  z-index: 1;
}

.title-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 160px;
  background-image: url('../images/title-shape-white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.card-link {
  color: var(--spanish-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  transition: var(--transition-2);
}

.card-link .span {
  display: inline-block;
  color: var(--hover-color, var(--black-chocolate));
  transition: var(--transition-2);
}

.card-meta-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.card-meta-item {
  position: relative;
  color: var(--orange-web);
  font-size: var(--fs-6);
}

.card-meta-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -15px;
  width: 4px;
  height: 4px;
  background-color: var(--blue-green-color-wheel);
  border-radius: 50%;
}

[data-section] > * {
  opacity: 0;
  transform: translateY(50px);
  transition: var(--transition-3);
}

[data-section].active > * {
  opacity: 1;
  transform: translateY(0);
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black_2);
  padding-block: 15px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active { box-shadow: var(--shadow-2); }

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logo {
  color: var(--white);
  font-size: 30px;
  line-height: 1;
  font-weight: var(--fw-700);
}

.logo .span {
  display: inline-block;
  color: var(--orange-web);
}

.header .btn { margin-inline-start: auto; }

.nav-toggle-btn {
  font-size: 40px;
  color: var(--black-chocolate);
}

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
  z-index: 2;
}

.navbar.active {
  transform: translateX(100%);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar .nav-toggle-btn {
  font-size: 35px;
  position: absolute;
  top: 25px;
  right: 20px;
}

.navbar .nav-toggle-btn ion-icon { --ionicon-stroke-width: 25px;}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.hero {
  padding-block: 130px 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
}

.hero-subtitle {
  color: var(--blue-green-color-wheel);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-title { 
  margin-block: 16px 30px; 
  color: var(--orange-web);
}

.hero-text {
  color: var(--cultured);
  font-weight: var(--fw-600);
  max-width: 650px;
}

.hero .btn { margin-block: 20px; }

.hero :is(.social-wrapper, .social-list) {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero .social-title {
  color: var(--black-chocolate);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
}

.hero .social-link {
  font-size: 14px;
  padding: 10px;
  border: 1px solid var(--blue-green-color-wheel_10);
  border-radius: 50%;
  transition: var(--transition-1);
}

.hero .social-link:is(:hover, :focus) {
  background-color: var(--blue-green-color-wheel);
  border-color: var(--blue-green-color-wheel);
  color: var(--white);
}


.section,.service{
  background-color: var(--black_2);
}

.service-card {
  padding-inline: 25px;
  text-align: center;
  color: var(--spanish-gray);
}

.service-card .card-icon {
  position: relative;
  background-color: var(--cultured);
  max-width: max-content;
  margin-inline: auto;
  padding: 40px;
  border-radius: 50%;
  margin-block-end: 40px;
  overflow: hidden;
  transition: var(--transition-1);
  z-index: 1;
}

.service-card .card-icon::before,
.service-card .card-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  transition: var(--transition-1);
  z-index: -1;
}

.service-card .card-icon::before {
  background-color: var(--blue-green-color-wheel);
  transform: translateY(120px);
}

.service-card .card-icon::after {
  background-color: var(--orange-web);
  transform: translateY(150px);
}

.service-card:is(:hover, :focus-within, .active) .card-icon::before {
  transform: translateY(0);
}

.service-card:is(:hover, :focus-within, .active) .card-icon::after {
  transform: translateY(120px);
}

.service-card .card-icon img { transition: var(--transition-1); }

.service-card:is(:hover, :focus-within, .active) .card-icon img {
  filter: grayscale(1) brightness(0) invert(1);
}

.service-card .h3 { --fs-4: 2.4rem; }

.service-card .card-title { 
  transition: var(--transition-1); 
  color: var(--white);
}

.service-card .card-title:is(:hover, :focus) { color: var(--orange-web); }

.service-card .card-text {
  font-size: var(--fs-5);
  margin-block: 20px 35px;
}

.service-card .btn {
  margin-inline: auto;
  font-size: 18px;
  padding: 0;
  max-width: 60px;
  height: 60px;
  display: grid;
  place-content: center;
}

.course-card .card-banner { margin-block-end: 30px; }

.course-card .card-content {
  position: relative;
  padding: 20px;
  padding-block-end: 15px;
}

.course-card .card-price {
  background-color: var(--blue-green-color-wheel);
  color: var(--white);
  font-weight: var(--fw-700);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  margin-inline: auto;
  margin-block-start: -80px;
  margin-block-end: 20px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.course-card .card-title {
  margin-block: 10px 20px;
  transition: var(--transition-1);
}

.course-card .card-title:is(:hover, :focus) { color: var(--orange-web); }


@media (min-width: 575px) {

  :root {

    --fs-1: 5.6rem;
    --fs-2: 3.6rem;

  }

  .container {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
  }

  .btn { padding: 10px 30px; }


  .hero { padding-block: 170px 100px; }

  .hero-text { font-size: var(--fs-4); }

  .hero .btn { margin-block: 25px 80px; }

  .hero .social-title { --fs-6: 1.6rem; }

  .hero .social-link { padding: 15px; }



  .service-card {
    max-width: 380px;
    margin-inline: auto;
  }

  .service-card .card-icon { padding: 50px; }

  .service-card .card-icon img { width: 70px; }

  .service-card .card-icon::before,
  .service-card:is(:hover, :focus-within, .active) .card-icon::after {
    transform: translateY(150px);
  }

  .service-card .card-icon::after { transform: translateY(180px); }

  .service-card .h3 { --fs-4: 3.5rem; }


@media (min-width: 768px) {
  :root {

    --fs-1: 6.4rem;
    --fs-2: 5.7rem;

    --section-padding: 80px;

  }

  .container { max-width: 720px; }

  .logo { font-size: 35px; }

  .hero-title { max-width: 15ch; }

  .service .grid-list { grid-template-columns: 1fr 1fr; }

  .course-card .card-price {
    width: 80px;
    height: 80px;
    font-size: var(--fs-4);
    margin-block-start: -100px;
  }

  .course-card .h3 { --fs-4: 2.4rem; }

  .course-card .card-content {
    padding: 30px;
    padding-block-end: 25px;
  }


@media (min-width: 992px) {

  :root {

    --section-padding: 100px;

  }

  .container { max-width: 960px; }

  .btn {
    font-size: unset;
    padding: 13px 40px;
  }

  :is(.service, .course, .blog) .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-toggle-btn,
  .overlay { display: none; }

  .header { padding-block: 20px; }

  .navbar,
  .navbar.active,
  .navbar-list,
  .navbar-item { all: unset; }

  .navbar { margin-inline-start: auto; }

  .header .btn { margin-inline-start: 0; }

  .navbar-list { display: flex; }

  .navbar-link {
    font-size: unset;
    padding-inline: 15px;
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus) { color: var(--orange-web); }


  .service .grid-list { gap: 0; }

  .service .grid-list > li:nth-child(2) { border-inline: 1px solid var(--cultured); }

  .service-card .h3 { --fs-4: 3rem; }



@media (min-width: 1200px) {

  :root {

    --fs-1: 8rem;

    --section-padding: 140px;

  }

  .container { max-width: 1200px; }

  .header .container { gap: 35px; }

  .navbar-link { padding-inline: 25px; }

  .hero {
    padding-block: 200px 100px;
    background-position: 35%;
  }

  .service-card .h3 { --fs-4: 3.5rem; }

  .service-card .btn { opacity: 0; }

  .service-card:is(:hover, :focus-within, .active) .btn { opacity: 1; }
}