body{
    margin: 0px;
}
.wrapper{
    margin: auto;
    white-space: nowrap;
    scroll-snap-type:y mandatory;
}
#welcome{
    height: 99vh;
    background-color:#212121;
    /* border-radius: 25px; */
    /* color: #97ffc0; */
    /* color: #ce70ca; */
    padding: 10px;
    text-align: left;
    display: flex-block;

}
.right_container_welcome{
    width: 50%;
}
.content_welcome{
    font-size: 20px;
    color: #d6d6d6;
}
.heading{
    font-size: 60px;
     background: -webkit-linear-gradient(180deg, #0011ff, #f700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#therapy{
    height: 99vh;
    border: 2px solid #000;
    /* margin-top: 10px; */
    background-color: #000;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border-radius: 10px; */

}
#therapy-text{
    background-color: #0011ff;
    padding:2px;
    width: 800px;
    height:200px;
    border: 2px solid #000;
    /* border-radius: 10px; */
    display: block;
}
#therapy-img{
    padding:2px;
    width: 300px;
    height:200px;
    border: 2px solid #000;
    border-radius: 10px;
    display: block;
    /* background-color: aquamarine; */
}
#exercise{
    background-color: #212121;
    height: 99vh;
    border: 2px solid #000;
    /* margin-top: 10px; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#exc-text{
    padding:2px;
    width: 800px;
    height:200px;
    border: 2px solid #000;
    display: inline-block;
}
#exc-img{
    padding:2px;
    width: 300px;
    height:200px;
    border: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    background-color: aqua;
}



button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #8f8f8f;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

   .card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }