<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <title>ZenRoom - Login</title>
</head>
<body>
    <div class="flex-container">
        <div class="content-container">
          <div class="form-container">
            <form action="/action_page.php">
              <h1>
                Login
              </h1>
              <br>
              <br>
              <span class="subtitle">USERNAME:</span>
              <br>
              <input type="text" name="username" value="">
              <br>
              <span class="subtitle">PASSWORD:</span>
              <br>
              <input type="password" name="password" value="">
              <br><br>
              <input type="submit" value="SUBMIT" class="submit-btn">
            </form>
          </div>
        </div>
      </div>
</body>
</html>