body{
    
    background-color: hsl(0, 0%, 0%);
}
.exercise-title-wrapper{
    margin: auto;
    padding-top: 2.5vh;
    width: 100%;
    border-bottom:  solid hsl(38, 100%, 50%); 
}
.exercise-subheading-wrapper{
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
}
.exercise-subheading{
    text-align: left;
    margin: auto;
    width: 100%;
    border-left: 5px solid hsl(38, 100%, 50%);
    color: hsl(38, 100%, 50%);
    font-size: 4vh;
    padding-left: 10px;
}
.exercise-title{
    position: relative;
    color: hsl(38, 100%, 50%);
    font-size: 5vh;
    text-align: center;
}

.wrapper{
    margin: auto;
    max-width: 1000px;
}

.card-container{
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
}

.card{
    background: #444444;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 15px;
    height: 60VH;
    border-radius: 2vh;
    overflow: hidden;
}

.card:hover{
    background-color: #2b2b2b;
}

.container h4{
    font-size: 3.5vh;
    text-align: center;
    padding-bottom: 5px;
}
.container{
    text-align: justify;
    padding: 0 0.5vw;
    padding-bottom: 20px;
}
.card-img{
    width:100%;
    height: 30vh;
}

.tips-heading{
    text-align: left;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    border-left: 5px solid hsl(38, 100%, 50%);
    color: hsl(38, 100%, 50%);
    font-size: 4vh;
    padding: 10px 20px;
}

.tip-container{
    color: #fff;
}

li{
   list-style:lower-alpha;
   color: #fff;
   padding: 20px 0;
}
ol{ 
    padding-left: 2vh;
    padding-bottom: 3vh;
}