<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>eDiary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>eDiary</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add">New Entry</a></li>
                <li><a href="/view">View Entries</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>View Entries</h2>
        
        {% for entry in entries %}
        {% if entry.user=="kash" %}
        <div class="entry">
            <h3>{{ entry.title }}</h3>
            <p>{{ entry.date }}</p>
            <p>{{ entry.text }}</p>
        </div>
        {% endif %}
        {% endfor %}
        <p> No More Entries</p>

       
    </main>
    <footer>&copy; 2023 eDiary</footer>
</body>
</html>