body{
    background-color: #000000;
    color: lightcoral;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -10%;
}
::placeholder{
    color: #c7c7c7;
}

.success{
    background-color: rgb(0, 228, 30);
    width: 90%;
    padding-top: 2vh;
}

.entry_form{
    margin: auto;
    height: 50%;
    padding: 20vh;
    background-color: rgb(0, 0, 0);
    margin-right: 50%;
}


form,
textarea {
  font-size: 2rem;
}

button {
  display: block;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border: none;
  background-color: aquamarine;
  color: #0a2472;
  font-family: 'Space Mono', monospace;
}

header {
  text-align: center;
  margin: 1em auto;
}

.section {
  padding: 1em 1em;
  width: 100%;
  margin: 1em auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
}

.container-row {
  width: 90%;
  margin: 0 auto;
}


.btn-main,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-main {
  color: lightgoldenrodyellow;
  background-color: lightcoral;
}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: white;
  background-color: #0a2472;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
  transform: scale(1.08);
}

.entry-text-title {
  width: 25vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}

.entry-text-title:focus {
  outline-color: lightcoral;
  font-family: 'Space Mono', monospace;
  color: lightcoral;
  font-size: 2rem;
}

.entry-text-title::placeholder {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
}

.entry-text-title::-ms-value {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
}


.container-row-journal {
  display: flex;
  justify-content: center;
}

.entry-form {
  max-width: 100%;
  margin: 0 auto;
}

.journal-label {
  display: block;
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
}

.entry-text-box {
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}

@media (min-width: 769px) {
  .entry-text-box {
    width: 40em;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
  }
}

.entry-text-box:focus {
  outline-color: lightcoral;
  font-family: 'Space Mono', monospace;
  color: lightcoral;
  font-size: 2rem;
  resize: none;
}

.entry-text-box::placeholder {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
}

.entry-submit-btn {
  margin: 0;
  width: 15vw
}
    

.sectionEntryResults {
  width: 100%;
  margin: 0 auto;
}

.entryResultRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-entry-div {
  max-width: 100%;
  margin: 1em auto;
  padding: 1em 1em;
}

.single-entry-date {
  background-color: lightgoldenrodyellow;
  width: 100%;
}

.heading-results {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: lightgoldenrodyellow;
}

.old-entry-title{
    width: 100%;
    text-align: center;
    font-size: 8vh;
    font-family: 'Space Mono', monospace;
}

.entryTitle{
  width: 100%;
    text-align: left;
    font-size: 3vh;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
}
.entryNote{
  width: 100%;
    text-align: left;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
}
.card {
  width: 400px;
  height: 100%;
  padding: 10px;
  border-radius: 30px;
  background: lightgoldenrodyellow;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
  display: flex;
  justify-content: space-between;
 }

 .container-cards{
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
 }